body {
    background: white;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: rgb(155, 225, 135);
    padding: 20px;
}

section.feature-box {
    background: rgb(249, 249, 230);
    margin: 3px;
    display: flex;
    flex-direction: row;
}

.feature-box div {
    width: 100%;
    margin: 1px;
}

.feature-box.sales div {
    background: rgba(154, 225, 135, 0.829);
}

.feature-box.closeouts div {
    background: rgba(154, 225, 135, 0.671);
}

div {
    background: rgb(155, 225, 135);
    margin: auto;
    width: 100px;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
    display: inline-block;
    background-color: rgb(246, 246, 246);
    margin-left: 20px;
    padding: 2px;
}

li:hover {
    background-color: white;
}

li:first-child {
    background: rgb(249, 249, 230);
    margin-left: 0px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    background: rgb(246, 246, 246);
    padding: 10px 20px;
}